
body {color:plum; background-color: rgb(255, 246, 246); font-family: Georgia, 'Times New Roman', Times, serif;}
h1 {color: purple; font-size:24px;}
th,td {border:1px solid rosybrown}
table {border-collapse:collapse;}
#myParagraph {background-color: purple;}
.Highlighted {background-color: rgb(185, 230, 205);}
.bold {font-weight:bold}
